<!-- Hero for landing page -->
<section class="mdx-home" data-mdx-component="hidden">
    <link rel="stylesheet" href="{{ 'assets/stylesheets/home.css' | url }}" />
    {% include "partials/home/hero.html" %} 
    {% include "partials/home/knowledge-vault.html" %}
    {% include "partials/home/last-from-us.html" %}
    {% include "partials/home/knowledge.html" %}
    {% include "partials/home/about-us.html" %}
    {% include "partials/home/contact.html" %}

    <div class="mdx-home__group" data-md-color-scheme="slate">
      {% include "partials/footer.html" %}
    </div>  
</section>