<section
  class="mdx-home__group"
  data-md-color-scheme="slate"
  data-md-color-primary="indigo"
>
  <div class="md-content md-grid" data-md-component="content">
    <div class="md-content__inner mdx-content__inner">
      <div class="mdx-content__column">

      <!-- Section header -->
      <header class="md-typeset" hidden>
        <h1 id="contact-us">
          Contact us
          <a
            href="#contact-us"
            class="headerlink"
            title="Permanent link"
          >
            ¶
          </a>
        </h1>
      </header>

      <!-- Section content -->
      <div class="mdx-contact md-typeset" hidden>
        <div class="mdx-contact__column">
          <p>
            You want to start your journey to a data driven decision world? Do you have projects in mind? Let us be your partners!
            Contact us.
          </p>
          <p>
            <strong>
              Together, we can build anything that simply works!
            </strong>
          </p>
<!--          <p>-->
<!--            <a href="insiders/" class="md-button" aria-label="Insiders">-->
<!--              Learn more-->
<!--            </a>-->
<!--          </p>-->
        </div>
      </div>
    </div>
    <div class="mdx-content__column">

      <!-- Section header -->
      <header class="md-typeset" hidden>
        <h1 id="keep-in-touch">
          Let's keep in touch
          <a
            href="#keep-in-touch"
            class="headerlink"
            title="Permanent link"
          >
            ¶
          </a>
        </h1>
      </header>

      <!-- Section content -->
      <div class="mdx-contact md-typeset" hidden>
        <div class="mdx-contact__inner">
          <p>
            <a
              href="https://github.com/rhobeta-io/rhobeta.io"
              class="mdx-contact__link"
            >
              <span class="twemoji">
                {% include ".icons/fontawesome/brands/github.svg" %}
              </span>
              <strong>GitHub</strong> repository
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
