<section class="mdx-home__group" data-md-color-scheme="slate" data-md-color-primary="indigo">
  <div class="md-content md-grid" data-md-component="content">
    <div class="md-content__inner">

      <!-- Section header -->
      <header class="md-typeset" hidden>
        <h1 id="knowledge-vault">
          Our knowledge vault
          <a href="#knowledge-vault" class="headerlink" title="Permanent link">
            ¶
          </a>
        </h1>
      </header>

      <!-- Section content -->
      <div class="mdx-values">
        <ul class="mdx-values__list">

          <!-- It's just Markdown -->
          <li class="mdx-values__item md-typeset" hidden>
            <div class="mdx-values__icon">
              {% include ".icons/material/aws.svg" %}
            </div>
            <div class="mdx-values__description">
              <h2>AWS</h2>
              <p>
              <p>Dive into Amazon Web Services and unlock the power of cloud computing. Master the skills you need to
                succeed.</p>
              </p>
            </div>
          </li>

          <li class="mdx-values__item md-typeset" hidden>
            <div class="mdx-values__icon">
              {% include ".icons/material/kubernetes.svg" %}
            </div>
            <div class="mdx-values__description">
              <h2>Kubernetes</h2>
              <p>
              <p>Learn about container orchestration, deployment, and management with this powerful open-source tool.
              </p>
              </p>
            </div>
          </li>

          <li class="mdx-values__item md-typeset" hidden>
            <div class="mdx-values__icon">
              {% include ".icons/material/lan.svg" %}
            </div>
            <div class="mdx-values__description">
              <h2>Networking</h2>
              <p>
              <p>Expand your understanding of computer networks, protocols, and architectures, and gain expertise in
                designing and implementing network solutions.</p>
              </p>
            </div>
          </li>

          <li class="mdx-values__item md-typeset" hidden>
            <div class="mdx-values__icon">
              {% include ".icons/material/valve.svg" %}
            </div>
            <div class="mdx-values__description">
              <h2>CICD</h2>
              <p>
              <p>Streamline your development workflow with Continuous Integration and Continuous Deployment (CI/CD)
                pipelines, and automate testing, building, and deployment for faster time-to-market.</p>
              </p>
            </div>
          </li>

          <li class="mdx-values__item md-typeset" hidden>
            <div class="mdx-values__icon">
              {% include ".icons/material/language-python.svg" %}
            </div>
            <div class="mdx-values__description">
              <h2>Python</h2>
              <p>
              <p>Master the popular programming language used by data scientists, machine learning engineers, and
                developers. Learn best practices, libraries, and frameworks.</p>
              </p>
            </div>
          </li>

          <li class="mdx-values__item md-typeset" hidden>
            <div class="mdx-values__icon">
              {% include ".icons/material/chart-bar.svg" %}
            </div>
            <div class="mdx-values__description">
              <h2>Data Science</h2>
              <p>
              <p>Unleash your inner data scientist with our tutorials on data preprocessing, visualization, machine
                learning, and more. Gain insights from industry experts and real-world applications.</p>
              </p>
            </div>
          </li>

          <!-- <li class="mdx-values__item md-typeset" hidden>
            <div class="mdx-values__icon">
              {% include ".icons/material/recycle-variant.svg" %}
            </div>
            <div class="mdx-values__description">
              <h2>Operating Systems</h2>
              <p>
               <p>Explore the world of operating systems, including Linux distributions, Windows, macOS, and more. Learn about system administration, security, and optimization.</p>
              </p>
            </div>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</section>