<section
  class="mdx-home__group"
  data-md-color-scheme="slate"
  data-md-color-primary="indigo"
>
  <div class="md-content md-grid" data-md-component="content">
    <div class="md-content__inner">

      <!-- Section header -->
      <header class="md-typeset" hidden>
        <h1 id="knowlege-graph">
          Knowlege graph
          <a
            href="#knowlege-graph"
            class="headerlink"
            title="Permanent link"
          >
            ¶
          </a>
        </h1>
      </header>

      <!-- Section content -->
      <div class="mdx-knowledge md-typeset" hidden>
        <strong>Surf through our knowledge hub!</strong>
        <div id="graph" class="graph"></div>

      </div>
    </div>
  </div>
</section>
