<section
  class="mdx-home__group"
  data-md-color-scheme="slate"
  data-md-color-primary="indigo"
>
  <div class="md-content md-grid" data-md-component="content">
    <div class="md-content__inner">

      <!-- Section header -->
      <header class="md-typeset" hidden>
        <h1 id="knowledge-vault">
          Our knowledge vault
          <a
            href="#knowledge-vault"
            class="headerlink"
            title="Permanent link"
          >
            ¶
          </a>
        </h1>
      </header>

      <!-- Section content -->
      <div class="mdx-values">
        <ul class="mdx-values__list">

          <!-- It's just Markdown -->
          <li class="mdx-values__item md-typeset" hidden>
            <div class="mdx-values__icon">
              {% include ".icons/material/aws.svg" %}
            </div>
            <div class="mdx-values__description">
              <h2>AWS</h2>
              <p>
                <p>Unlock the power of Amazon Web Services (AWS) with our comprehensive knowledge hub. Explore expert-curated resources on:</p>
                  <ul>
                    <li><b>Servies and Tools:</b> EC2, S3, Lambda, and more</li>
                    <li><b>Security and Compliance:</b> best practices for data protection and compliance</li>
                    <li><b>Data Analytics and Science:</b> machine learning, data visualization, and big data processing</li>
                    <li><b>Architecture and Deployment:</b> designing scalable and secure infrastructure</li>
                  </ul>
                  <p>Stay up-to-date with the latest trends, best practices, and community-driven projects. Dive in and start building your AWS skills today!</p>
              </p>
            </div>
          </li>

          <li class="mdx-values__item md-typeset" hidden>
            <div class="mdx-values__icon">
              {% include ".icons/material/language-python.svg" %}
            </div>
            <div class="mdx-values__description">
              <h2>Python</h2>
              <p>
                  <p>Unlock the power of Python programming with our comprehensive resource hub. Explore expert-crafted tutorials, guides, and documentation on:</p>
                    <ul>
                      <li><b>Core concepts:</b> variables, data types, control structures, functions, and more</li>
                      <li><b>Advanced topics:</b> web development, machine learning, data analysis, and more</li>
                      <li><b>Libraries and frameworks:</b> NumPy, pandas, Flask, Django, and more</li>
                      <li><b>Real-world applications:</b> automation, scripting, and scientific computing</li>
                    </ul>
                    <p>Stay up-to-date with the latest developments, best practices, and community-driven projects. Dive into our Python knowledge vault and start building your programming skills today!</p>

              </p>
            </div>
          </li>

          <li class="mdx-values__item md-typeset" hidden>
            <div class="mdx-values__icon">
              {% include ".icons/material/kubernetes.svg" %}
            </div>
            <div class="mdx-values__description">
              <h2>Kubernetes</h2>
              <p>
               <p>Deploy and manage your applications with ease using our comprehensive knowledge hub on Kubernetes.</p>
                <ul>
                  <li><b>Core Concepts:</b> pods, deployments, services, and more</li>
                  <li><b>Deployment Strategies:</b> rolling updates, blue-green deployments, and canary releases</li>
                  <li><b>Networking and Security:</b> ingress controllers, network policies, and secret management</li>
                  <li><b>Monitoring and Logging:</b> metrics, logging, and visualization tools for Kubernetes clusters</li>
                </ul>
                <p>Stay up-to-date with the latest best practices, community-driven projects, and expert tutorials. Dive in and start mastering Kubernetes today!</p>
              </p>
            </div>
          </li>






        </ul>
      </div>
    </div>
  </div>
</section>
